In [1]:
from src.dataset import get_dataset
from src.models.frequency_random import FrequencyRandomMatchPredictor
from src.models.uniform_random import UniformRandomMatchPredictor
from sklearn.metrics import accuracy_score
import random
import numpy as np

In [2]:
ITERATIONS = 10
random.seed(5438)
np.random.seed(5438)

In [3]:
def determine_target(row):
    if row["home_score"] > row["away_score"]:
        return 0
    elif row["home_score"] == row["away_score"]:
        return 1
    else:
        return 2

In [4]:
dataset = get_dataset()

In [5]:
dataset

,date,home_team,home_score,away_score,away_team,neutral,fold
0,1971-08-07,Santa Cruz,1,4,Corinthians,False,brazil
1,1971-08-07,Internacional,0,0,Fluminense,False,brazil
2,1971-08-07,Palmeiras,1,0,Portuguesa-SP,False,brazil
3,1971-08-07,Ceará,0,0,Vasco da Gama,False,brazil
4,1971-08-07,Coritiba,0,2,Cruzeiro,False,brazil
...,...,...,...,...,...,...,...
129496,2017-07-06,Grenada,0,2,Barbados,False,international
129497,2016-08-25,Barawa,0,5,Tamil Eelam,False,international
129498,2016-08-26,Barawa,2,3,Chagos Islands,False,international
129499,2016-08-28,Chagos Islands,1,5,Tamil Eelam,True,international
129500,1904-05-01,Belgium,3,3,France,False,international

In [7]:
model_classes = [FrequencyRandomMatchPredictor, UniformRandomMatchPredictor]
folds_names = ["brazil", "europe", "international"]

In [8]:
folds_train = [dataset[dataset["fold"] != name] for name in folds_names]
folds_test = [dataset[dataset["fold"] == name] for name in folds_names]

In [19]:
results = {
    "accuracy": {model_class.__name__: {name: [] for name in folds_names} for model_class in model_classes},
}

In [9]:
folds_test[0]

,date,home_team,home_score,away_score,away_team,neutral,fold
0,1971-08-07,Santa Cruz,1,4,Corinthians,False,brazil
1,1971-08-07,Internacional,0,0,Fluminense,False,brazil
2,1971-08-07,Palmeiras,1,0,Portuguesa-SP,False,brazil
3,1971-08-07,Ceará,0,0,Vasco da Gama,False,brazil
4,1971-08-07,Coritiba,0,2,Cruzeiro,False,brazil
...,...,...,...,...,...,...,...
24638,2023-08-16,São Paulo,2,0,Corinthians,False,brazil
24639,2023-07-26,Grêmio,0,2,Flamengo,False,brazil
24640,2023-08-16,Flamengo,1,0,Grêmio,False,brazil
24641,2023-09-17,Flamengo,0,1,São Paulo,False,brazil
24642,2023-09-24,São Paulo,1,1,Flamengo,False,brazil

In [10]:
folds_test[1]

,date,home_team,home_score,away_score,away_team,neutral,fold
24643,2013-08-11,FC Schalke 04,3,3,Hamburger SV,False,europe
24644,2013-08-10,Eintracht Braunschweig,0,1,Sportverein Werder Bremen von 1899,False,europe
24645,2013-08-18,Borussia Dortmund,2,1,Eintracht Braunschweig,False,europe
24646,2013-08-25,Eintracht Braunschweig,0,2,Eintracht Frankfurt Fußball AG,False,europe
24647,2013-09-14,Borussia Dortmund,6,2,Hamburger SV,False,europe
...,...,...,...,...,...,...,...
81719,2016-02-14,Nijmegen Eendracht Combinatie,0,3,Eindhovense Voetbalvereniging Philips Sport Ve...,False,europe
81720,2017-02-18,Eindhovense Voetbalvereniging Philips Sport Ve...,3,1,Nijmegen Eendracht Combinatie,False,europe
81721,2023-04-01,Nijmegen Eendracht Combinatie,2,4,Eindhovense Voetbalvereniging Philips Sport Ve...,False,europe
81722,2023-09-16,Eindhovense Voetbalvereniging Philips Sport Ve...,4,0,Nijmegen Eendracht Combinatie,False,europe
81723,2013-08-10,Eindhovense Voetbalvereniging Philips Sport Ve...,5,0,Nijmegen Eendracht Combinatie,False,europe

In [11]:
folds_test[2]

,date,home_team,home_score,away_score,away_team,neutral,fold
81724,2010-10-29,Curaçao,3,0,Aruba,True,international
81725,2010-10-29,Suriname,4,2,Bonaire,True,international
81726,2010-10-31,Aruba,3,3,Bonaire,True,international
81727,2010-10-31,Curaçao,2,2,Suriname,True,international
81728,2011-12-02,Curaçao,1,3,Bonaire,True,international
...,...,...,...,...,...,...,...
129496,2017-07-06,Grenada,0,2,Barbados,False,international
129497,2016-08-25,Barawa,0,5,Tamil Eelam,False,international
129498,2016-08-26,Barawa,2,3,Chagos Islands,False,international
129499,2016-08-28,Chagos Islands,1,5,Tamil Eelam,True,international
129500,1904-05-01,Belgium,3,3,France,False,international

In [20]:
for _ in range(ITERATIONS):
    for model_class in model_classes:
        for fold_train, fold_test, fold_test_name in zip(folds_train, folds_test, folds_names): 
            model = model_class()
            model.fit(fold_train)
            pred = model.predict(fold_test)
            target = fold_test.apply(determine_target, axis=1)
            results["accuracy"][model_class.__name__][fold_test_name].append(accuracy_score(target, pred))

/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)
/mnt/c/Personal/football-matches-prediction/src/models/frequency_random.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_neutral_df["target"] = home_neutral_df.apply(determine_target, axis=1)

results

In [11]:
results

{'accuracy': {'FrequencyRandomMatchPredictor': {'brazil': [0.3625370287708477,
    0.3592095118289169,
    0.36732540680923587,
    0.3649312177900418,
    0.3695572779288236,
    0.36529643306415616,
    0.36278050562025727,
    0.36107616767439027,
    0.35896603497950735,
    0.364606581990829],
   'europe': [0.3624148140361942,
    0.3637462553213854,
    0.3590686918589373,
    0.3669697447486905,
    0.3608381072510993,
    0.36199435889350223,
    0.36278271228604964,
    0.36378129324994307,
    0.36372873635710656,
    0.36178413132215625],
   'international': [0.3598384159742135,
    0.35734767775289367,
    0.3573267471796053,
    0.3570755803001444,
    0.35921049877556144,
    0.36266404336814784,
    0.3562592879418967,
    0.3587500261632166,
    0.3549615923980158,
    0.3569081357138372]},
  'UniformRandomMatchPredictor': {'brazil': [0.32889664407742564,
    0.33145315099622613,
    0.3374589132816621,
    0.33433429371423934,
    0.3353487805867792,
    0.32982997200016234,
    0.3329951710424867,
    0.33315748894209307,
    0.3359168932354015,
    0.33181836627034045],
   'europe': [0.3346822935828034,
    0.33289535922636254,
    0.33349100401184284,
    0.3325099420122282,
    0.33597869693943694,
    0.33158143690545017,
    0.335137786654053,
    0.3339815350116501,
    0.33356107986895817,
    0.3327201695835742],
   'international': [0.3356008121062436,
    0.33336124076438456,
    0.335831048412416,
    0.3341566025493438,
    0.3330682127383469,
    0.33233564267325283,
    0.3368147853569709,
    0.33618686815831883,
    0.33078678024991104,
    0.3373799108357578]}}}